
<footer class="footer">

  

  <h1>coffee shop</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae venenatis mi. Quisque a est vitae nibh blandit auctor id ut dolor. Sed et lorem viverra, tempus magna non, blandit augue.</p>

  <div class="share">
    <a href="https://www.facebook.com/zLucky123" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/danmateoesp/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://api.whatsapp.com/send?phone=+573053534911&text=Comunicate+Conmigo%21" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
  </div>


</footer>
