body{
  margin: 0;
}

.nav-bar {

   width: 100%;
   /* z-index: 1; */
   background-color: black;
   height: 10% ;
   display: flex;
   justify-content: space-between;
   align-items: center;
   -webkit-box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.41);
   -moz-box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.41);
   box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.41);
   padding-top:10px;
   padding-bottom: 10px;


   /* margin-bottom: 40px; */
 }



.carrito{
  position: absolute;
  border-radius: 100px;
  color: #C29C6B;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  height: 15px;
  width: 15px;
  right: 15px;
  top: 17px;
  padding: 2px;
  font-weight: bolder;

}
.carrito-log-out{
  position: absolute;
  border-radius: 100px;
  color: #C29C6B;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  height: 15px;
  width: 15px;
  right: 55px;
  top: 15px;
  padding: 2px;
  font-weight: bolder;
}
#log-out{
  padding-right: 20px;
  cursor: pointer;
}
#log-out:hover{
  color: #C29C6B;
}

.nav-right:hover{
 color: #C29C6B;
}

.container{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
 .container span{
  height: 100%;
 }

.nav-left img{
  color: white;
  width: 100px;
  height: 100px;
}
.nav-bar img{
  width: 100px;
  height: 100px;
}

.nav-left{

  padding-left: 20px;

  color: white;
  cursor: pointer;

}

.nav-right{
  padding-right: 20px;
  padding-left: 20px;
}
.nav-right:hover{
  cursor: pointer;
}


@media (max-width: 768px) {
 .nav-left, .nav-right{
  padding-left: 20px;
  padding-right: 20px;
 }
 .carrito{
  right: 15px;
  top: 15px;
 }
 .carrito-log-out{
  right: 55px;
  top: 15px;
 }
}





