body{
  margin: 0;
}

.nav-bar {

   width: 100%;
   /* z-index: 1; */
   background-color: black;
   height: 10% ;
   display: flex;
   justify-content: space-between;
   align-items: center;
   -webkit-box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.41);
   -moz-box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.41);
   box-shadow: 0px 12px 18px -8px rgba(0, 0, 0, 0.41);
   padding-top:10px;
   padding-bottom: 10px;
   
   /* margin-bottom: 40px; */
 }



.carrito{
  position: absolute;
  border-radius: 100px;
  color: #C29C6B;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  height: 15px;
  width: 15px;
  right: 75px;
  top: 15px;
  padding: 2px;
  font-weight: bolder;

}
.nav-right:hover{
 color: #C29C6B;
}

.nav-left,
.nav-right {

  padding-left: 80px;
  padding-right: 80px;
  color: white;
  cursor: pointer;

}

@media (max-width: 768px) {
 .nav-left, .nav-right{
  padding: 20px;
 }
}





