<div class="nav-bar">
 <img  routerLink="list" src="assets/CafeLogo.png" class="nav-left" alt="logo">

  <div class="container">

    <span>{{user?.user}}</span>
    <div>

      <div [ngClass]="{'carrito-log-out':user}"  class="carrito" *ngIf="cantidad>0 && cantidad<= 9; else cantidadCarrito">{{cantidad}}</div>

      <ng-template #cantidadCarrito >
        <div class="carrito" *ngIf="cantidad>9">9+</div>
      </ng-template>


      <div class="nav-right material-symbols-outlined notify" routerLink="shoppingCart">shopping_cart</div>

    </div>
    <span *ngIf="user" id="log-out" class="material-symbols-outlined" (click)="logOut()">
      logout
    </span>

  </div>


</div>
